.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #000;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar li {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
  }
  
  .social-icons i {
    color: #fff;
    cursor: pointer;
  }
  